@import 'grid_mixins';
@import 'grid_functions';
@import 'grid_helpers';
@import 'grid_fixes';

.row {
  display: block;
  flex-flow: row wrap;

  > .full_width {
    width: 100%;
  }
}

.gutter {
  > .flex_item {
    margin: $grid_gutter_y $grid_gutter_x;

    &.full_width {
      width: calc(100% - #{$grid_gutter_x * 2});
    }
  }

  &_x > .flex_item {
    margin: 0 $grid_gutter_x;

    &.full_width {
      width: calc(100% - #{$grid_gutter_x * 2});
    }
  }
  &_y > .flex_item {
    margin: $grid_gutter_y 0;
  }
}

// BUIlD EVERYTHING
@each $breakpoint in map-keys($breakpoints) {
  @include build_media_queries($breakpoint) {
    @include build_grows($breakpoint);
    @include build_flex_rows($breakpoint);
    @include build_shorthands($breakpoint);
    @include build_alignments($breakpoint);
    @include build_shorthand_grows($breakpoint);
    @include build_order_helpers($breakpoint);
    @include build_hidden_helpers($breakpoint);
  }
  @include build_only_media_queries($breakpoint) {
    @include build_grows($breakpoint, true);
    @include build_flex_rows($breakpoint, true);
    // // Commenting out for now, because I'm not sure this is wanted.
    // // It makes the file size a lot larger.
    // @include build_shorthands($breakpoint, true);
    @include build_alignments($breakpoint, true);
    // // Commenting out for now, ecause I'm not sure this is wanted.
    // // It makes the file size a lot larger.
    // @include build_shorthand_grows($breakpoint, true);
    @include build_order_helpers($breakpoint, true);
    @include build_hidden_helpers($breakpoint, true);
  }
  @include build_down_media_queries($breakpoint) {
    @include build_hidden_helpers($breakpoint, false, true);
  }
}
