.container {
  margin: 0 auto;
  max-width: 800px;
}

.text-center {
  text-align: center;
}

.box {
  min-height: 100px;
  min-width: 100px;
}

.border-solid {
  border: 1px solid $black;
}

.border-dashed {
  border: 1px dashed $black;
}

.prettyprint {
  margin-bottom: 50px;
}

body {
  background: $gray;
}

.example {
  display: block;
}

.example,
pre {
  background: $white;
}
